.initially-hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.invert-colors {
  background-color: #474747;
  color: #ffffff;
}
